<div class="landing-wrapper" ngKeydown="formContentChanged()">
  <div class="row text-center">
    <img class="logo" src="assets/images/logo.jpg">
  </div>
  <hr />
  <div [ngSwitch]="mode">
    <flash-messages></flash-messages>

    <div *ngSwitchCase="'register'">
      <form class="form-horizontal" #registerForm name="registerForm" (ngSubmit)="register(registerForm)" novalidate>
        <div class="form-group">
          <label class="col-xs-4 control-label">Name(*):</label>
          <div class="col-xs-8">
            <input type="text" class="form-control" name="regName" placeholder="Name" [(ngModel)]="regInfo.name"
              [required]="true">
          </div>
        </div>
        <div class="form-group">
          <label class="col-xs-4 control-label">Email(*):</label>
          <div class="col-xs-8">
            <input type="email" class="form-control" name="regEmail" placeholder="Email" [(ngModel)]="regInfo.email"
              [required]="true">
          </div>
        </div>
        <div class="form-group">
          <label class="col-xs-4 control-label">Password(*):</label>
          <div class="col-xs-8">
            <input type="password" class="form-control" name="regPassword" placeholder="Password"
              [(ngModel)]="regInfo.password" [required]="true" minlength="6">
          </div>
        </div>
        <button type="submit" class="btn btn-success btn-lg btn-block">Sign Up</button>
      </form>
    </div>

    <div *ngSwitchCase="'login'">
      <form class="form-horizontal" #loginForm name="loginForm" (ngSubmit)="login(loginForm)" novalidate>
        <div class="form-group">
          <label class="col-xs-4 control-label">Email:</label>
          <div class="col-xs-8">
            <input type="email" class="form-control" name="loginEmail" placeholder="Email" [(ngModel)]="loginInfo.email"
              [required]="true">
          </div>
        </div>
        <div class="form-group">
          <label class="col-xs-4 control-label">Password:</label>
          <div class="col-xs-8">
            <input type="password" class="form-control" name="loginPassword" placeholder="Password"
              [(ngModel)]="loginInfo.password" [required]="true" minlength="6">
          </div>
        </div>
        <button type="submit" class="btn btn-primary btn-lg btn-block">Sign In</button>
      </form>
    </div>

    <div *ngSwitchCase="'forgotPassword'">
      <form class="form-horizontal" #resetForm name="resetForm" (ngSubmit)="reset(resetForm)" novalidate>
        <div class="form-group">
          <label class="col-xs-2 control-label">Email:</label>
          <div class="col-xs-10">
            <input type="email" class="form-control" name="resetEmail" placeholder="Email" [(ngModel)]="resetInfo.email"
              [required]="true">
          </div>
        </div>
        <button type="submit" class="btn btn-primary btn-lg btn-block">Reset Password</button>
      </form>
    </div>

    <div *ngSwitchDefault class="text-center">
      <button type="button" class="btn btn-success btn-lg btn-block" (click)="selectMode('register')">Sign Up</button>
      <span class="badge badge-divider">OR</span>
      <button type="button" class="btn btn-primary btn-lg btn-block" (click)="selectMode('login')">Sign In</button>
      <div class="text-center">
        <button type="button" class="btn btn-link" (click)="selectMode('forgotPassword')">Forgot your password?</button>
      </div>
    </div>

    <div class="text-center" *ngIf="mode!=''">
      <button type="button" class="btn btn-link" (click)="selectMode('')">
        <!--fa-icon [icon]="faArrowCircleLeft"></fa-icon--> Back
      </button>
    </div>
  </div>
</div>