django~=3.1.7
django-environ
django-filter
djangorestframework~=3.12.2
djangorestframework-simplejwt
django-webpack-loader
markdown
mysqlclient
requests~=2.25.1
simplejwt~=2.0.1
six~=1.15.0

beautifulsoup4~=4.9.3
