<!DOCTYPE html>
<html>
{% load static %}
{% load absolute_url %}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
   <link rel="stylesheet" href="{% static 'frontend/dist/css/bootstrap.min.css' %}">
     <script src="{% static 'frontend/dist/js/jquery.min.js' %}"></script>
     <script src="{% static 'frontend/dist/js/bootstrap.js' %}"></script>
     <link rel="stylesheet" href="{% static 'frontend/style.css' %}">
     <link rel="stylesheet" href="{% static 'frontend/sidebar_styles.css' %}">
     <link rel="stylesheet" href="{% static 'frontend/react-confirm-alert.css' %}">
     <link rel="stylesheet" href="{% static 'frontend/alert.css' %}">
    <link rel="stylesheet" href="{% static 'frontend/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'frontend/itemlist.css' %}">
    <link rel="stylesheet" href="{% static 'frontend/codemirror.css' %}">
    <link rel="stylesheet" href="{% static 'frontend/menuoptions.css' %}">
    <title>Ellogon Web Annotation</title>
</head>
<body>
    <div id="root" class="content">
    </div>
    <script type="text/javascript" src="{% static 'frontend/public/main.js' %}"></script>
</body>
</html>
