<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
   <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="{% static 'frontend/dist/css/bootstrap.min.css' %}">
     <link rel="stylesheet" href="{% static 'frontend/style.css' %}">
    <title>Activation account</title>
</head>
<body style="max-width:450px;margin:0 auto 20px">

 <img src='cid:{image_name}' alt="Ellogon Logo!"  style="margin:0 auto;width:170px;display:block"/>
 <br/>
 <br/>
 Hello {{user}},

    <p>You ask for new password. Your new password is <strong> {{ password}}</strong>.Please change your password when you sign-in</p>
    <br/>
    <br/>
   
    <br/>
    Thank you,
    The Ellogon Team.

</body>
</html>