<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <!--{{ request.scheme }}://{{ request.get_host }}-->
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
   <link rel="stylesheet" href="{{ baseurl }}{% static 'frontend/style.css' %}">
   <title>Reset Password for User: {{user}}</title>
</head>
<body style="max-width:450px;margin:0 auto 20px">
  {% csrf_token %}
  <img src='{{ ellogon_logo }}' alt="Ellogon Logo!" style="margin:0 auto;width:170px;display:block"/>
  <br/>
  <br/>
  <p>Hello {{user}},</p>
 
  <p>A new password has been requested for your {{ EMAIL_APP_NAME }} account. A new password has been generated. Your new password is:</p>
  <center><p><strong>{{ password}}</strong></p></center>
  <p>Please use this new password for signing in.</p>
  <br/>
  <br/>
  <br/>
  <p>Thank you,<p>
  <p>The {{ EMAIL_APP_NAME }} Team</p>
</body>
</html>
