<page-header title="{{'pageheader.Add New Collection'|translate}}" *ngIf="showPageHeader"></page-header>
<div class="collection-add-wrapper">
  <as-split direction="horizontal" style="height: 100%;">
    <as-split-area order="1" [visible]="showMyCollections" [size]="30" [minSize]="10" [maxSize]="60"
      class="side-bar-wrapper">
      <mat-card class="mat-card-fill-parent">
        <mat-card-header class="sidebar-header">
          <mat-card-title>{{'Collections.MyCollections'|translate}} ({{dataForTheTree.length}})</mat-card-title>
        </mat-card-header>
        <mat-card-content class="sidebar-main-content">
          <mat-action-list>
            <button mat-list-item *ngFor="let collection of dataForTheTree">
              <mat-icon class="mat-icon-rtl-mirror">folder</mat-icon> {{collection.name}} <span class="right">
                <span *ngIf="collection.confirmed==1 && collection.is_owner"
                  class="label label-info">{{'Collections.SharedByMe'|translate}}</span>
                <span *ngIf="collection.confirmed==1 && !collection.is_owner" class="label label-info"
                  title="The actions that can be performed on this collection are limited because it does not belong to you">{{'Collections.SharedWithMe'|translate}}</span>
                ({{collection.document_count}} {{'Collections.Documents'|translate}})
              </span>
            </button>
          </mat-action-list>
        </mat-card-content>
      </mat-card>
    </as-split-area>
    <as-split-area order="2" [size]="70" [minSize]="40" [maxSize]="90" class="main-content-wrapper">
      <mat-card class="mat-card-fill-parent">
        <mat-card-header class="main-content-header" *ngIf="showHeader">
          <mat-card-title>{{(creatingNewCollection ? 'Collections.AddNewCollection' : 'Collections.EditCollection') |
            translate}}</mat-card-title>
        </mat-card-header>
        <form [formGroup]="editCollectionForm" (submit)="submitCollection()">
          <mat-card-content>
            <mat-form-field appearance="outline" *ngIf="showNameField">
              <mat-label>{{'Collections.CollectionName' | translate}}</mat-label>
              <input matInput type="text" formControlName="collectionName"
                placeholder="{{'Collections.PleaseEnterTheNameOfTheCollection...' | translate}}"
                [(ngModel)]="collectionData.name" required minlength="4" pattern="[a-zA-Z0-9]+([a-zA-Z0-9_ -]+)*">
              <mat-error *ngIf="editCollectionForm.get('collectionName').hasError('required')">
                {{'validations.required' | translate}}
              </mat-error>
              <mat-error *ngIf="editCollectionForm.get('collectionName').hasError('pattern')">
                {{'validations.pattern' | translate}}
              </mat-error>
              <mat-error translate [translateParams]="{number:'4'}"
                *ngIf="editCollectionForm.get('collectionName').hasError('minlength')">
                validations.minlength
              </mat-error>
            </mat-form-field>
            <mat-grid-list cols="2" [cols]="breakpoint" rowHeight="6em" (window:resize)="onResize($event)">
              <mat-grid-tile>
                <mat-form-field appearance="outline">
                  <mat-label>{{'Collections.DefaultEncoding' | translate}}</mat-label>
                  <mat-select formControlName="collectionEncoding" [(ngModel)]="collectionData.encoding"
                    (change)="encodingChange()">
                    <mat-option *ngFor="let encodingOption of encodingOptions" [value]="encodingOption">
                      {{encodingOption}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </mat-grid-tile>
              <mat-grid-tile>
                <mat-form-field appearance="outline">
                  <mat-label>{{'Collections.DefaultHandler' | translate}}</mat-label>
                  <mat-select formControlName="collectionHandler" [(ngModel)]="collectionData.handler"
                    (change)="handlerChange()">
                    <mat-option *ngFor="let handlerOption of handlerOptions" [value]="handlerOption">
                      {{handlerOption.name}}</mat-option>
                  </mat-select>
                </mat-form-field>
              </mat-grid-tile>
            </mat-grid-list>
            <div class="document-list">
              <label>{{'Collections.FilesToBeAddedToTheCollection' | translate}}:</label>
              <div class="document-list-component">
                <div id="uploadTable" class="document-list-table">
                  <table class="table table-bordered">
                    <thead>
                      <tr>
                        <th>#</th>
                        <th>{{'Filename'|translate}}</th>
                        <th *ngIf="filterFiles !== false">{{'Type'|translate}}</th>
                        <th *ngIf="filterFiles !== false">{{'Encoding'|translate}}</th>
                        <th *ngIf="filterFiles !== false">{{'Handler'|translate}}</th>
                        <th></th>
                      </tr>
                    </thead>
                    <tbody *ngIf="userFiles.length!=undefined && userFiles.length>0">
                      <tr *ngFor="let file of userFiles;let index=index">
                        <td>{{index+1}}</td>
                        <td>{{file.name}}</td>
                        <td *ngIf="filterFiles !== false">
                          <select id="type" class="form-control" [(ngModel)]="file.type"
                            [ngModelOptions]="{standalone: true}">
                            <option *ngFor="let o of typeOptions" [value]="o">{{o}}</option>
                          </select>
                        </td>
                        <td *ngIf="filterFiles !== false">
                          <select id="defaultEndoding" class="form-control" [(ngModel)]="file.encoding"
                            [ngModelOptions]="{standalone: true}">
                            <option *ngFor="let o of encodingOptions" [value]="o">{{o}}</option>
                          </select>
                        </td>
                        <td *ngIf="filterFiles !== false">
                          <select id="handler" class="form-control" [(ngModel)]="file.handler"
                            [ngModelOptions]="{standalone: true}">
                            <option *ngFor="let o of handlerOptions" [ngValue]="o">{{o.name}}</option>
                          </select>
                        </td>
                        <td>
                          <button mat-icon-button (click)="userFiles.splice(index, 1)"
                            [matTooltip]="'Remove'|translate">
                            <mat-icon>delete</mat-icon>
                          </button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>

                <!--uploader flow-init></uploader><hr-->
                <uploader [allowedTypes]="allowedTypes" [fileTypeOptions]="typeOptions"
                  [fileEncodingOptions]="encodingOptions" [fileHandlerOptions]="handlerOptions"
                  [collectionData]="collectionData" [collectionDataUpdated]="collectionDataUpdated"
                  [flowAttributes]="flowAttributes" (handleFileInputs)="handleFileInputs($event)"></uploader>
              </div>
            </div>
          </mat-card-content>
          <mat-card-actions align="end">
            <button type="submit" mat-button [disabled]="editCollectionForm.invalid" color="primary"
              *ngIf="showSubmitButton">
              {{'Collections.AddCollection' | translate}}
            </button>
          </mat-card-actions>
        </form>
      </mat-card>
    </as-split-area>
  </as-split>
</div>