<div class="import-documents-from-export-modal">
  <h1 mat-dialog-title>{{'Collections.Import Documents from Export'|translate}}</h1>
  <form [formGroup]="importForm">
    <mat-dialog-content>
      <flash-messages></flash-messages>
      <!-- Collection name input -->
      <mat-form-field appearance="outline">
        <mat-label>{{'Collections.CollectionName' | translate}}</mat-label>
        <input matInput type="text" formControlName="collectionName"
          placeholder="{{'Collections.Enter a new Collection name' | translate}}" [(ngModel)]="collectionName" required readonly="true"
          minlength="4" pattern="[a-zA-Z0-9]+([a-zA-Z0-9_ -]+)*">
        <mat-error *ngIf="importForm.get('collectionName').hasError('required')">
          {{'validations.required' | translate}}
        </mat-error>
        <mat-error *ngIf="importForm.get('collectionName').hasError('pattern')">
          {{'validations.pattern' | translate}}
        </mat-error>
        <mat-error translate [translateParams]="{number:'4'}"
          *ngIf="importForm.get('collectionName').hasError('minlength')">
          validations.minlength
        </mat-error>
      </mat-form-field>
      <!-- File selector -->
      <div class="file-list">
        <label>{{'Collections.Files to Import'|translate}}:</label>
        <div class="file-list-component">
          <div class="file-list-table">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th>#</th>
                  <th>{{'Filename'|translate}}</th>
                  <th></th>
                </tr>
              </thead>
              <tbody *ngIf="userFiles.length!=undefined && userFiles.length>0">
                <tr *ngFor="let file of userFiles;let index=index">
                  <td>{{index+1}}</td>
                  <td>{{file.name}}</td>
                  <td>
                    <button mat-icon-button (click)="userFiles.splice(index, 1)" [matTooltip]="'Remove'|translate">
                      <mat-icon>delete</mat-icon>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="table-responsive">
          <!--need to change -->
           <uploader [flowAttributes]="flowAttributes" [allowedTypes]="allowedTypes"
              (handleFileInputs)="handleFileInputs($event)"></uploader>
          </div>
        </div>
      </div>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
      <button mat-button mat-dialog-close (click)="cancel()">{{'Cancel'|translate}}</button>
      <button mat-button [disabled]="userFiles.length !=1 || importForm.invalid"
        (click)="import()">{{'Import'|translate}}</button>
    </mat-dialog-actions>
  </form>
</div>
