<div ui-layout="{dividerSize:'0'}" class="profile-wrapper">
  <app-navbar></app-navbar>
  <div ui-layout-container>
    <div ui-layout="{flow : 'column'}">
      <div class="col-6 col-offset-3 stats-wrapper">
        <h2>Statistics</h2>
        <hr>
        <div class="row">
          <div class="col-4 text-center">
            <div class="profile-stats">
              <h1>{{userStats.collections}}</h1>
              <h4>Collections</h4>
            </div>
          </div>
          <div class="col-4 text-center">
            <div class="profile-stats">
              <h1>{{userStats.documents}}</h1>
              <h4>Documents</h4>
            </div>
          </div>
          <div class="col-4 text-center">
            <div class="profile-stats">
              <h1>{{userStats.annotations}}</h1>
              <h4>Annotations</h4>
            </div>
          </div>
        </div>
      </div>
      <div class="col-6 col-offset-3">
        <h2>Update your Password</h2>
        <hr>
        <div class="row profile-update-wrapper">
          <flash-messages></flash-messages>
          <form class="form-horizontal" #updateForm name="updateForm" (submit)="updatePassword(updateForm)" novalidate>
            <div class="form-group">
              <label class="col-5 control-label">Current Password:</label>
              <div class="col-7">
                <input type="password" class="form-control" name="oldPassword" placeholder=""
                  [(ngModel)]="updateInfo.oldPassword" [required]="true" minlength="6">
              </div>
            </div>
            <div class="form-group">
              <label class="col-5 control-label">New Password:</label>
              <div class="col-7">
                <input type="password" class="form-control" name="newPassword" placeholder=""
                  [(ngModel)]="updateInfo.newPassword" [required]="true" minlength="6">
              </div>
            </div>
            <div class="form-group">
              <label class="col-5 control-label">Retype Password:</label>
              <div class="col-7">
                <input type="password" class="form-control" name="retypePassword" placeholder=""
                  [(ngModel)]="updateInfo.retypePassword" [required]="true" minlength="6">
              </div>
            </div>
            <button type="submit" class="btn btn-primary btn-lg btn-block">Update</button>
          </form>
        </div>
      </div>

    </div>



  </div>
</div>