@import url('https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600,700,800');

* {
  box-sizing: border-box;
}
body {
 /* background: #1C8EF9 !important;*/
  /*min-height: 100vh;*/
  display: flex;
  font-weight: 400;
  font-family: 'Fira Sans', sans-serif;
  /*overflow:auto;*/
}

html{
  overflow: hidden;
}

h1,h2,h3,h4,h5,h6,label,span {
  font-weight: 100;
  font-family: 'Fira Sans', sans-serif;
}

h6{
  font-size: 0.9rem;
  /*width: max-content;*/
}

.table th,
.table td {
    width: max-content;
  padding: 1px;
}

.btn-sm {
  padding: 2px 0px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: .2rem;
  height: 24px;
  margin: 2px 0px;
}

body, html, .App, #root, .auth-wrapper {
  width: 100%;
  height: 100%;


}

.navbar-light {
  background-color: #ffffff;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);

}

.auth-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: left;

}

.auth-inner {
  width: 450px;
  margin: auto;
  background: #ffffff;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  padding: 40px 55px 45px 55px;
  border-radius: 15px;
  transition: all .3s;
}

.auth-wrapper .form-control:focus {
  border-color: #167bff;
  box-shadow: none;
}

.auth-wrapper h3 {
  text-align: center;
  margin: 0;
  line-height: 1;
  padding-bottom: 20px;
}

.custom-control-label {
  font-weight: 400;
}

.forgot-password,
.forgot-password a {
  text-align: right;
  font-size: 13px;
  padding-top: 10px;
  color: #7f7d7d;
  margin: 0;
}

.forgot-password a {
  color: #167bff;
}

.sidebar_height{
  height:100% ;
  min-height:100% ;
  display: flex;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  left:0;
  z-index: 4;
/*overflow:auto*/
}

.qw{

  display: block;
  margin: auto;
  cursor:pointer;
}

.codemirror_xl{
  /*height: inherit;*/
  min-height: 100vh;
  width: inherit;
  margin: auto;
  background: #ffffff;
  transition: all .3s;
  /*display: flex;*/


}

.drop-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    width: 300px;
    height: 60px;
    padding-left: 100px;
    padding-top: 10px;
    border: 4px dashed #4aa1f3;
    color: rgba(0, 0, 0, 0)
}

.Sticky{
position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  z-index: 4;

  background-color:seashell;

}

.logoIcon{
width: 50px;
height: 50px;
display: block;
margin-left: auto;
margin-right: auto;
}

.annotation-table td{
padding: .3rem;
vertical-align: top;
}

/*///////////////////////////////////////////////////////////////////////////*/
.Resizer {
  position: relative;
  background: #a7c2dda3;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-background-clip: padding;
  -webkit-background-clip: padding;
  background-clip: padding-box;
  flex-shrink: 0;
}



.Resizer.horizontal {
  height: 11px;
  margin: -5px 0;
  border-top: 5px solid rgba(255, 255, 255, 0);
  border-bottom: 5px solid rgba(255, 255, 255, 0);
  cursor: row-resize;
  width: 100%;
}

.Resizer.vertical {
  width: 25px;
  /*margin: 0 -5px;*/
  border-left: 5px solid rgba(255, 255, 255, 0);
  border-right: 5px solid rgba(255, 255, 255, 0);
  cursor: col-resize;
  flex-shrink: 0;
}

.Resizer.disabled {
  cursor: not-allowed;
}
.Resizer.disabled:hover,
.Resizer.disabled:active {
  border-color: transparent;
}

.Resizer::after,
.Resizer::before {
  content: "";
  border-left: 1px solid #333;
  position: absolute;
  top: 25%;
  /*transform: translateY(-100%);*/
  right: 0;
  display: inline-block;
  height: 20px;
  margin: 0 2px;
}
.Resizer::before {
  left: 0;
}


