<div class="add-custom-value-modal">
  <h2 mat-dialog-title>Add New Annotation Button</h2>
  <form [formGroup]="addCustomValueForm">
    <mat-dialog-content>
      <mat-grid-list cols="2" [cols]="breakpoint" rowHeight="85px" (window:resize)="onResize($event)">
        <mat-grid-tile>
          <div class="text-inside">
            <mat-form-field>
              <input matInput placeholder="Button Value" [(ngModel)]="value" formControlName="value" required>
              <mat-error *ngIf="addCustomValueForm.controls.value.hasError('required')">
                Please enter an attribute value for the new button
              </mat-error>
              <mat-error *ngIf="addCustomValueForm.controls.value.hasError('pattern')">
                Please enter a valid attribute value
              </mat-error>
            </mat-form-field>
          </div>
        </mat-grid-tile>
        <mat-grid-tile>
          <div class="text-inside">
            <mat-form-field>
              <input matInput placeholder="Button Label" [(ngModel)]="label" formControlName="label" required>
              <mat-error *ngIf="addCustomValueForm.controls.label.hasError('required')">
                Please enter a label for the new button
              </mat-error>
              <mat-error *ngIf="addCustomValueForm.controls.label.hasError('pattern')">
                Please enter a valid label
              </mat-error>
            </mat-form-field>
          </div>
        </mat-grid-tile>
      </mat-grid-list>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
      <button type="button" mat-button mat-dialog-close (click)="cancel()">{{'Cancel'|translate}}</button>
      <button type="submit" mat-button color="primary" (click)="addButton()">{{'Add'|translate}}</button>
    </mat-dialog-actions>
  </form>
</div>