html,body{
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
	line-height:1em;
	min-width: 1060px!important;
}

/************************************************/
.CodeMirror {
	font-family: Helvetica,Arial,sans-serif;
	font-size: 1.1em;
	line-height: 1.9em;
	background-color: #FFF;
}

.CodeMirror-lines {
	background-color: #FFF;
}

.annotated-text {
	padding: 0.1em 0.35em;
	margin: 0 0.1em;
	line-height: 1;
	border-radius: 0.25em;
	border: 1px solid;
}

.annotated-text:after {
	content: attr(data-type);
	box-sizing: border-box;
	font-size: 0.7em;
	line-height: 1;
	padding: 0.1em;
	border-radius: 0.35em;
	text-transform: uppercase;
	display: inline-block;
	vertical-align: middle;
	margin: 0 0 0.2rem 0.5rem;
}

/************************************************/

/*
* === LANDING PAGE ===
*/
.landing-wrapper {
	max-width: 280px;
	margin: 0 auto;
}

.landing-wrapper .logo { margin: 80px 0 0; }
.landing-wrapper .btn-link { text-decoration: none; }
.landing-wrapper .btn-link:focus { outline:0 !important; }
.landing-wrapper .btn-link:active { box-shadow:none !important; }
.landing-wrapper .badge-divider {
	background-color: #ddd;
	text-align: center;
	margin: 10px auto;
	padding: 8px 5px;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
}
.landing-wrapper form .control-label {
	padding-right: 0;
}


/*
* === PROFILE PAGE ===
*/
.stats-wrapper {
	margin-top: 20px;
	margin-bottom: 30px;
}
.profile-stats {
	max-width: 140px;
	padding: 20px 0;
	margin: 0 auto;
	border: 1px solid #eee;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	color: #fff;
}

.stats-wrapper .row>div:nth-child(1) .profile-stats {background-color: #5cb85c;}
.stats-wrapper .row>div:nth-child(2) .profile-stats{ background-color: #5bc0de; }
.stats-wrapper .row>div:nth-child(3) .profile-stats{ background-color: #f0ad4e; }

.profile-update-wrapper {
	max-width: 350px;
	margin: 0 auto;
}

.app-logo {
	height: 40px;
	padding: 7px 7px 0 2px;

}

.navbar-collapse.collapse { display: block!important; }
.navbar-nav>li, .navbar-nav { float: left !important; }
.navbar-nav.navbar-right:last-child { margin-right: -15px !important; }
.navbar-right { float: right!important; }

.container-fluid { padding: 0 7.5px; }
.left { float: left; }
.right { float: right; }
.white{ color:#fff; }
.cursor{ cursor:pointer; }

/*** modal templates ***/
.modal-dialog { padding-top: 50px;}
.modal-header, .modal-footer { padding: 14px;}
.modal-body {
	font-size: 13px!important;
	margin-top: 13px;
    padding: 14px;
}
.modal-body select{
    height: 28px;
    resize: none;
    padding: 0px 2px!important;
}
.modal-body .list-group-item, .modal-body input  {
    height: 28px;
    line-height: 28px;
    padding: 0px 5px!important;
}
.modal-body treeitem ul li {
	height: 28px;
    line-height: 28px;
    padding: 0 15px;
}
.primary-modal-header {
	background-color: #428bca;
	-webkit-border-top-left-radius: 4px;
	-webkit-border-top-right-radius: 4px;
	-moz-border-radius-topleft: 4px;
	-moz-border-radius-topright: 4px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}
.success-modal-header {
	background-color: #5cb85c;
	-webkit-border-top-left-radius: 4px;
	-webkit-border-top-right-radius: 4px;
	-moz-border-radius-topleft: 4px;
	-moz-border-radius-topright: 4px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}
.warning-modal-header {
	background-color: #f0ad4e;
	-webkit-border-top-left-radius: 4px;
	-webkit-border-top-right-radius: 4px;
	-moz-border-radius-topleft: 4px;
	-moz-border-radius-topright: 4px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}
.error-modal-header {
	background-color: #d9534f;
	-webkit-border-top-left-radius: 4px;
	-webkit-border-top-right-radius: 4px;
	-moz-border-radius-topleft: 4px;
	-moz-border-radius-topright: 4px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}
/*** end of modal templates ***/

#drag{
	border: 4px #f1f1f1 dashed;
	padding: 15px;
}

table td { vertical-align: middle !important; }

/*** manage collections widget ***/
.no-available-documents {
	font-size: 28px;
	padding: 80px;
	color: #a1a1a1;
}
/*** end of manage collections widget ***/

#selectedCollectionName{
	margin-left: -15px !important;
	border:1px solid #DDDDDD;
	font-style: italic;
	box-shadow: none;
	font-size: 17px;
	border-radius: 0;
	cursor: default;
	background-color: transparent;
}

#selectedCollectionName:disabled{
	border:none;
	background-color: transparent;
	font-weight: bold;
}

#defaultEncoding{ padding-right: 0px !important;}
#uploadTable select{
	padding-left: 0px !important;
	padding-right: 0px !important;
}

/*** document selector modal ***/
#document-selector-widget{
	width: 100%;
	height: 220px;
	border:1px #d7d7d7 solid;
	overflow: auto;
}

[treecontrol] ul { white-space: nowrap; text-overflow: ellipsis !important; overflow:hidden !important; }

.document-selector{
	overflow: auto;
	pointer-events: none;
}
.document-selector .modal-dialog {pointer-events: all;}
.modal.fade .modal-dialog, .modal.in .modal-dialog {
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
}
.document-selector .modal-content, .document-selector .modal-header{
	-webkit-box-shadow: none;
    -moz-box-shadow: none;
	box-shadow: none;
}
.document-selector .subheader {
	width: 360px;
	margin: 0 auto;
}
/*** end of document selector modal ***/

/*** toolbar widget ***/
#layout_layout_panel_main,
#layout_layout_panel_right,
#layout_layout_resizer_right {margin-top: -1px}
.toolbar-widget {
	width: 100%;
	height: 46px;
	border-bottom: 1px solid #d9e0e2;
	/*box-shadow: 0 2px 0 rgba(217,224,226,0.2);*/
	padding: 12px 10px 0px 10px;
	background: #fff;
	font-size: 13px;
	line-height: 20px;
	/*margin-bottom: 2px;*/
}
.toolbar-widget select{
	height: 20px!important;
	font-size: 12px;
	width: 200px;
	padding: 0 4px;
}
.toolbar-element{
	height: auto;
	width: auto;
	margin-right: 18px;
}
.toolbar-divider{
	height: 20px;
	width: 1px;
	background: #d9e0e2;
	margin-right: 18px;
}
/*** end of toolbar widget ***/

/*** button annotator widget ***/
.button-widget-wrapper { margin: 0 8px; padding-bottom: 13px;}
.button-widget-wrapper table{
/*	table-layout: fixed; */
	border-collapse: separate;
	margin-bottom: 0px;
}

.sidebar-main-content .btn-sm i {font-size: 18px;}
.sidebar-main-content .coref-span-start,
.sidebar-main-content .coref-span-end,
.sidebar-main-content .annotation-entry,
.sidebar-main-content .coref-entry,
.sidebar-main-content .coref-segment-entry,
.sidebar-main-content input[type=text],
.sidebar-main-content select {
	height: 24px;
	resize: none;
	font-size: 12px!important;
	padding: 2px!important;
}
.sidebar-main-content .coref-multi-entry {
	resize: none;
	font-size: 12px!important;
	padding: 3px 5px 2px!important;
	margin: 2px 0;
	white-space: pre-wrap;
	overflow-y: auto!important;
}

.button-widget-wrapper table {
	height: 1px;
}
.button-widget-wrapper table tr {
}
.button-widget-wrapper table button {
  	/*height: 24px!important;*/
  	padding: 1px 0px;
	margin: 1px 0px !important;
	font-size: 12px!important;
}
.button-widget-wrapper table td {
	white-space: nowrap;
	border-top:none!important;
	padding:0px 2px!important;
	vertical-align: top !important;
}
.button-widget-header {
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	font-size: 13px;
	color: #D34332;
 	padding: 4px 0 3px;
}
.button-widget-header-container table td:last-child {
    width: 100%;
}

.button-widget-subheader{
/*	white-space:nowrap;
	overflow: hidden;
	text-overflow: ellipsis;*/
 	padding: 6px 0;

 	white-space: pre-wrap;      /* CSS3 */
   	white-space: -moz-pre-wrap; /* Firefox */
    white-space: -pre-wrap;     /* Opera <7 */
    white-space: -o-pre-wrap;   /* Opera 7 */
    word-wrap: break-word;      /* IE */
}
.button-widget-paragraph-label {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 13px;
  color: #D34332;
  padding: 4px 0 3px;
}

.annotation-btn {
  white-space: pre !important;
  display: inline-block;
  overflow: auto;
  height: 100% !important;
  position: relative;
  text-overflow: ellipsis;
}


/*** end of button annotator widget ***/

/*** main layout styling ***/
#layout { min-width: 1070px!important;}
.layout-wrapper{
	position: absolute;
	padding: 0px;
	left: 0px;
	right: 0px;
	top: 50px;
	bottom: 0px;
}
.main-content-header{
	/*position: fixed;*/
	width: 100%;
	height: 46px;
	border-bottom: 1px solid #d9e0e2;
	box-shadow: 0 2px 0 rgba(217,224,226,0.2);
	padding: 12px 10px 0px 10px;
	background: #fff;
	font-size: 18px;
	line-height: 21px;
	margin-bottom: 1px;
}
.main-content-wrapper {
	background-color: #F8F9FA;
}
.main-content-padded{
	width: 100%;
	/*margin-top: 46px;*/
	padding: 30px 40px 0px 40px;
	background: #F8F9FA;
}
.main-content{
	width: 100%;
	/*margin-top: 46px;*/
	background: #FFF;
	box-shadow: 0 -2px 0 rgba(217,224,226,0.2);
}
.main-content-header{
	width: 100%;
	height: 45px;
	padding: 9px 10px;
	background: #fff;
	border-bottom: 1px solid #d9e0e2;
}
.main-content-header .btn, .document-selector .subheader .btn { padding: 4px 10px; }
.main-content-header label, .document-selector .subheader label{ font-size: 13px!important; }

.main-content-attributes {
  width: 100%;
}

.main-content-attributes-header {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 13px;
  color: #D34332;
  padding: 4px 0 3px;
}

.sidebar-layout-wrapper{
	top: 0px;
	position: absolute;
	padding: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	width: 100%;
}
.sidebar-header{
	width: 100%;
	height: 46px;
	padding: 9px 10px;
	background: #fff;
	border-bottom: 1px solid #d9e0e2;
}
.sidebar-header .btn, .document-selector .subheader .btn { padding: 4px 10px; }
.sidebar-header label, .document-selector .subheader label{ font-size: 13px!important; }
.sidebar-main-content{
	background: #fff;
	position:relative;
	font-size: 12px!important;
}

/*.sidebar-main-content .btn-sm {padding:3px 0 2px; }*/
/*.sidebar-main-content .row { margin:0px 8px 8px;}
.sidebar-main-content .row [class^="col-"]{ padding: 0 4px; }
.sidebar-main-content .row:not(:first-child) [class^="col-"]{ line-height: 31px; }*/

.btn:active, .btn.active {
	-webkit-box-shadow: inset 0 1px 5px rgba(0,0,0,.125)!important;
	box-shadow: inset 0 1px 5px rgba(0,0,0,.125)!important;
}
.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active,
.open .dropdown-toggle.btn-default {
	border-color: #ccc!important;
}
/*** end of main layout styling ***/

/*** Annotation Editor styling ***/

/* Make Leader Lines clickable */
svg.leader-line {
  pointer-events:auto!important;
}

/* Position the editor overlay on top of the editor */
/* From: https://stackoverflow.com/questions/2941189/how-to-overlay-one-div-over-another-div
 * If we had bootstrap 4, we could have used this:
 * https://stackoverflow.com/questions/60620315/put-div-above-another-div-in-bootstrap */
.annotation-editor-text-widget-container {
  width: 100%;
  height: 100%;
  position: relative;
}
#annotation-editor-text-widget,
#annotation-editor-text-widget-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none; /* auto=visiblePainted */
}
#annotation-editor-text-widget-overlay {
  z-index: 10;
}
/*** end of Annotation Editor styling ***/

/*** annotation visualizer styling ***/
#layout_annotation-visualiser-layout_resizer_top{
	width: 100%!important;
	height: 4px!important;
}
.annotation-visualiser-header{
	top:-1px!important;
	height: 33px;
	width: 100%;
	padding: 10px 0px;
	background: #fff;
	color: #4e5860;
	text-align: center;
	font-weight: bold;
	font-size: 13px;
	line-height: 13px;
	border-bottom: 1px solid #d9e0e2;
	box-shadow: 0 2px 0 rgba(217,224,226,0.2);
	margin-bottom: 2px;
}
.annotation-visualiser-content{
	min-height: 33px;
	height: 33px;
	width: 100%;
	padding: 10px 0px;
	background: #fff;
	color: #4e5860;
	text-align: center;
	font-size: 12px;
	line-height: 12px;
	border-bottom: 1px solid #d9e0e2;
	cursor: pointer;
}
.annotation-visualiser-content.active, .st-selected{
	background: #2980B9;
	color: #fff;
}
/*** end of annotation visualizer ***/

/*** overlapping areas widget ***/
.overlapping-areas-widget {
	width: 100%;
	height: 46px;
	border-top: 1px solid #d9e0e2;
	box-shadow: 0 -2px 0 rgba(217,224,226,0.2);
	padding: 13px 20px 13px 40px;
	background: #fff;
	font-size: 13px;
	line-height: 19px;
	margin-top: 1px;
}
.overlapping-areas-widget select{
	height: 20px!important;
	font-size: 12px;
	width: 400px;
	padding: 0 4px;
}

/*** end of overlapping areas widget ***/

.overflow-ellipsis{
	white-space:nowrap!important;
	overflow: hidden!important;
    text-overflow: ellipsis!important;
}

.right-divider{ border-right: 1px solid #d9e0e2; }

.flow-effect-top{
	box-shadow: 0 2px 0 rgba(217,224,226,0.2);
	margin-bottom: 1px!important;
}
.caution-msg{
	width: 100%;
	margin: 0 auto;
	padding-top: 30px;
	font-style: italic;
	font-size: 16px;
	text-align: center;
}

/*** Button Customization ***/
.btn {
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
}

.btn-success[disabled],
.btn-danger[disabled] ,
.btn-primary[disabled]{ background-color: #fff!important; }
.btn-success {
	background: #fff;
	color: #5cb85c;
	border: 1px solid #4cae4c;
}
.btn-success:hover {
	background: #5cb85c;
	color: #fff;
	border: 1px solid #4cae4c;
}
.btn-danger {
	background: #fff;
	color: #d9534f;
	border: 1px solid #d43f3a;
}
.btn-danger:hover {
	background: #d9534f;
	color: #fff;
	border: 1px solid #d43f3a;
}
.btn-warning {
	background: #fff;
	color: #f0ad4e;
	border: 1px solid #d58512;
}
.btn-warning:hover {
	background: #f0ad4e;
	color: #fff;
	border: 1px solid #d58512;
}
.btn-primary {
	background: #fff;
	color: #428bca;
	border: 1px solid #357ebd;
}
.btn-primary:hover {
	background: #428bca;
	color: #fff;
	border: 1px solid #357ebd;
}
.btn-info {
	color: #46b8da;
	background-color: #fff;
	border-color: #46b8da;
}

/*.btn-default, .btn-default:hover {
	background: #fff;
	color: #BDC3C7;
	font-weight: bold;
	border: 2px solid #ccc;
}*/
/*** End of Button Customization ***/

/*.sidebar-main-content div.ui-layout-row:nth-child(1){overflow: hidden!important;}*/
.sidebar-main-content ul {
	list-style-type: none;
	margin:0;
	padding: 0;
}

/*** Annotation Date Entry Widget Customization ***/
.annotation-date-entry .dropdown-menu {
	min-width:0!important;
	margin-top: 3px;
	margin-left: -80px!important;
}
.annotation-date-entry .dropdown-menu .glyphicon { font-size: 13px; }
.annotation-date-entry ul li { padding: 5px!important; font-size: 9px; }
.annotation-date-entry button.btn.btn-default.btn-sm.btn-info, .annotation-date-entry button.btn.btn-default.btn-sm.btn-info.active{ background:transparent!important; border: 2px solid #428bca!important; color:#428bca!important;}
.annotation-date-entry table, .annotation-date-entry button{ outline:0px !important; -webkit-appearance:none; }
.annotation-date-entry table tr td { font-size: 9px; padding: 2px!important; }
.annotation-date-entry table tr td[id^="datepicker"] button{ padding: 0px 5px; border: none!important; }
.annotation-date-entry table tr td[id^="datepicker"] button span{ font-size: 9px; }
.annotation-date-entry table tr td[id^="datepicker"] button .text-info { color: #428bca!important; }
.annotation-date-entry table tr td button .text-info { border: none!important; }
.annotation-date-entry .btn-sm, .annotation-date-entry .btn-group-sm>.btn { padding: 3px 6px 2px!important; margin: 0!important;}
button[id^="datepicker"]{border:none; font-size: 12px;}

/*** End of Annotation Date Entry Widget Customization ***/

.sidebar-main-content ul li{
	padding: 10px 17px;
	line-height: 20px;
	font-size: 12px;
	color: #555;
	vertical-align: middle;
	 margin-left: 5px;

	border-bottom: 1px solid #EFF2F2;
}
.sidebar-main-content ul li img{
	vertical-align: top;
	padding-top:1px;
}
.selectedCollection {font-weight: bold;}
treeitem ul li:last-child{border:none;}
.tree-label {
	width: 95%;
	display: inline-block!important;
}


/*** Document Selection Button Customization ***/
#menu-toggle * {
  transition: .25s ease-in-out;
  box-sizing: border-box;
}
#hamburger span, #cross span {
  display: block;
  background: #2980B9;
  border-radius: 2px;
}
#menu-toggle {
  width: 40px;
  height: 40px;
  margin: 5px 5px;
  position: relative;
  position: relative;
  cursor: pointer;
  border-radius: 5px;
}
#menu-toggle:hover { background: rgba(255, 255, 255, 0.8); }
#menu-toggle #hamburger {
  position: absolute;
  height: 100%;
  width: 100%;
}
#menu-toggle #hamburger span {
  width: 24px;
  height: 3px;
  position: relative;
  top: 6px;
  left: 8px;
  margin: 5px 0;
}
#menu-toggle #hamburger span:nth-child(1) { transition-delay: .5s; }
#menu-toggle #hamburger span:nth-child(2) { transition-delay: .625s; }
#menu-toggle #hamburger span:nth-child(3) { transition-delay: .75s; }
#menu-toggle #cross {
  position: absolute;
  height: 100%;
  width: 100%;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
#menu-toggle #cross span:nth-child(1) {
  height: 0%;
  width: 3px;
  position: absolute;
  top:4px;
  left: 18px;
  transition-delay: 0s;
}
#menu-toggle #cross span:nth-child(2) {
  width: 0%;
  height: 3px;
  position: absolute;
  left: 4px;
  top: 18px;
  transition-delay: .25s;
}
#menu-toggle.open #hamburger span { width: 0%; }
#menu-toggle.open #hamburger span:nth-child(1) { transition-delay: 0s; }
#menu-toggle.open #hamburger span:nth-child(2) { transition-delay: .125s; }
#menu-toggle.open #hamburger span:nth-child(3) { transition-delay: .25s; }
#menu-toggle.open #cross span:nth-child(1) {
  height: 80%;
  transition-delay: .625s;
}
#menu-toggle.open #cross span:nth-child(2) {
  width: 80%;
  transition-delay: .375s;
}
/*** End of Document Selection Button Customization ***/

.froala-editor, .froala-element.f-basic { border:none!important;}
.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control { cursor: auto!important;}
input, textarea { -webkit-user-select: auto!important; }
.froala-element p { line-height: 22px!important; }

/*** Coreference Annotator Customization ***/
.coref-checkbox { line-height: 19px; margin: 0 5px;}
.coref-annotate-btn, .coref-clear-btn { margin: 5px 0 0!important; padding:4px 12px;}
.coref-segment-entry {
    white-space: nowrap;
    overflow:hidden !important;
    text-overflow: ellipsis;
}
.coref-multi-entry {
    white-space: nowrap;
    overflow:hidden !important;
    text-overflow: ellipsis;
}
/*** End of Coreference Annotator Customization ***/

/*** Annotation Indicator Customization ***/
.annotation-indicator{
	display: inline-block;
	height: 25px;
	width: 100%;
	margin: 3px 0px 2px;
	padding: 0px;
	line-height: 25px;
	color: #fff;
	background-color: #fff;
	-webkit-border-radius: 3px;
  	-moz-border-radius: 3px;
 	border-radius: 3px;
 	text-align: center;
}
/*** End of Annotation Indicator Customization ***/

.glyphicon-chevron-left,
.glyphicon-chevron-right{
  color: #aaa;
}

.ui-splitbar{ background: #d9e0e2!important; }

.cover {
	position: absolute;
	z-index: 1030;
	top: 50px;
	left: 0px;
	bottom: 0px;
	right: 0px;
	background: white;
}

/* Annotation relation selection list menu styling */
.annotation-relation-list-item {
  display: block;
  max-width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.bootstrap-select .dropdown-menu > li > a {
    padding: 5px 20px;
    line-height: initial;
}

.bootstrap-select .dropdown-menu > li:first-child > a {
    text-align: center;
}

.bootstrap-select .dropdown-menu > li {
  padding: 0;
  margin-left: 0;
}

.bootstrap-select .dropdown-toggle .filter-option-inner-inner {
  padding-left: 10px;
}

.bootstrap-select .dropdown-menu > li > a > span {
  line-height: initial;
}

/* TEI XML tags */
.CodeMirror-line .stage, .tei-stage {
  font-style: italic;
}

.CodeMirror-line .speaker, .tei-speaker {
  line-height: 2.6;
  font-weight: bold;
}

.CodeMirror-line .noteindex, .tei-noteindex {
  font-size: .83em;
  vertical-align: super;
}

.CodeMirror-line .quote::before, .tei-quote::before {
    content: open-quote;
}
.CodeMirror-line .quote::after, .tei-quote::after {
    content: close-quote;
}

.CodeMirror-line .emph, .tei-emph {
  font-style: italic;
}
