<div class="select-document-modal">
  <h1 mat-dialog-title *ngIf="showSelectDocument">{{'Collections.Select Document'|translate}}...</h1>
  <h1 mat-dialog-title *ngIf="!showSelectDocument">{{'Collections.Select Annotation Characteristics'|translate}}...</h1>
  <mat-dialog-content>
    <flash-messages></flash-messages>
    {{data.message}}
    <mat-tree class="collections-tree" *ngIf="showSelectDocument" [dataSource]="dataForTheTree"
      [treeControl]="treeControl">
      <!-- This is the tree node template for leaf nodes -->
      <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding>
        <!-- use a disabled button to provide padding for tree leaf -->
        <button mat-icon-button (click)="showSelected(node)"
          [ngClass]="{'selected-node': selectedDocument === node.element}">
          <mat-icon class="mat-icon-rtl-mirror">
            {{'file_present'}}
          </mat-icon>{{node.name}}
        </button>
      </mat-tree-node>
      <!-- This is the tree node template for expandable nodes -->
      <mat-tree-node *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding>
        <button mat-icon-button matTreeNodeToggle [attr.aria-label]="'toggle ' + node.name">
          <mat-icon class="mat-icon-rtl-mirror">
            {{treeControl.isExpanded(node) ? 'folder_open' : 'folder'}}
          </mat-icon>
          {{node.name}} ({{node.element.document_count}} {{(node.name ? 'Documents' : "Collections")|translate}})
        </button>
      </mat-tree-node>
    </mat-tree>
    <div *ngIf="!showSelectDocument" class="annotation-schema">
      <div class="text-center">
        <mat-button-toggle-group name="annotatorType" aria-label="Annotator Type" class="text-center"
          [value]="subheader">
          <mat-button-toggle color="primary"
            (click)="updateSubheader('Button Annotator'); annotationSchema.language=''; annotationSchema.annotation_type=''; annotationSchema.attribute=''; annotationSchema.alternative='';"
            value="Button Annotator">Button Annotator</mat-button-toggle>
          <mat-button-toggle color="primary"
            (click)="updateSubheader('Coreference Annotator'); annotationSchema.language=''; annotationSchema.annotation_type=''; annotationSchema.attribute=''; annotationSchema.alternative='';"
            value="Coreference Annotator">Coreference Annotator</mat-button-toggle>
        </mat-button-toggle-group>
      </div>
      <br />
      <div class="row justify-content-center">
        <div class="col-auto">
          <table>
            <tr class="annotation-schema-row">
              <td class="annotation-schema-options">
                <div>
                  <p>
                    <mat-form-field appearance="fill">
                      <mat-label>Language</mat-label>
                      <mat-select [compareWith]="compareFn" name="ann_language" [(ngModel)]="annotationSchema.language"
                        (ngModelChange)="changeLanguage(annotationSchema.language); annotationSchema.annotation_type=''; annotationSchema.attribute=''; annotationSchema.alternative=''; annotationSchemaOptions.attributes=[]; annotationSchemaOptions.alternatives=[];">
                        <mat-option value="">Please select language...</mat-option>
                        <mat-option *ngFor="let language of annotationSchemaOptions.languages" [value]="language">
                          {{language}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </p>
                  <p>
                    <mat-form-field appearance="fill">
                      <mat-label>Annotation Type</mat-label>
                      <mat-select [compareWith]="compareFn" name="ann_type"
                        [(ngModel)]="annotationSchema.annotation_type"
                        (ngModelChange)="changeAnnotationType(annotationSchema.annotation_type); annotationSchema.attribute=''; annotationSchema.alternative=''; annotationSchemaOptions.alternatives=[];">
                        <mat-option value="">Please select annotation type...</mat-option>
                        <mat-option *ngFor="let annotationType of annotationSchemaOptions.annotation_types"
                          [value]="annotationType">
                          {{annotationType}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </p>
                  <p>
                    <mat-form-field appearance="fill" *ngIf="subheader!='Coreference Annotator'">
                      <mat-label>Annotation Type</mat-label>
                      <mat-select [compareWith]="compareFn" name="ann_attr" [(ngModel)]="annotationSchema.attribute"
                        (ngModelChange)="changeAnnotationAttribute(annotationSchema.attribute); annotationSchema.alternative='';">
                        <mat-option value="">Please select annotation attribute...</mat-option>
                        <mat-option *ngFor="let annotationAttribute of annotationSchemaOptions.attributes"
                          [value]="annotationAttribute">
                          {{annotationAttribute}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </p>
                  <p>
                    <mat-form-field appearance="fill">
                      <mat-label>Annotation Type</mat-label>
                      <mat-select [compareWith]="compareFn" name="ann_alter" [(ngModel)]="annotationSchema.alternative"
                        (ngModelChange)="changeAttributeAlternative(annotationSchema.alternative)">
                        <mat-option value="">Please select attribute alternative...</mat-option>
                        <mat-option *ngFor="let attributeAlternative of annotationSchemaOptions.alternatives"
                          [value]="attributeAlternative">
                          {{attributeAlternative}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </p>
                </div>
              </td>
              <td rowspan=4>
                <mat-divider [vertical]="true"></mat-divider>
              </td>
              <td rowspan=4 valign="top">
                <h4 *ngIf="subheader=='Button Annotator'">Values</h4>
                <h4 *ngIf="subheader=='Coreference Annotator'">Attributes</h4>
                <mat-divider [vertical]="true"></mat-divider>
                <div class="annotation-schema-values">
                  <mat-list
                    *ngIf="(subheader=='Button Annotator' && (groups==undefined || groups.length==0)) || (subheader=='Coreference Annotator' && (attrs==undefined || attrs.length==0))">
                    <mat-list-item>No available values</mat-list-item>
                  </mat-list>
                  <mat-list *ngIf="subheader!='Coreference Annotator' && groups!=undefined && groups.length > 0">
                    <mat-list-item [buttonAnnotatorValueList]="groups"></mat-list-item>
                  </mat-list>
                  <mat-list *ngIf="subheader!='Button Annotator' && attrs!=undefined && attrs.length > 0">
                    <mat-list-item [corefAnnotatorValueList]="attrs"></mat-list-item>
                  </mat-list>
                </div>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button *ngIf="!annotationSchemaExists && showSelectDocument"
      mat-dialog-close="cancel">{{'Cancel'|translate}}</button>
    <button mat-button *ngIf="!annotationSchemaExists && showSelectDocument"
      (click)="selectDocument()">{{'Select'|translate}}</button>
    <button mat-button *ngIf="!annotationSchemaExists && !showSelectDocument" (click)="back()">Back</button>
    <button mat-button *ngIf="!annotationSchemaExists && !showSelectDocument"
      (click)="closeWithNewSchema()">{{'Ok'|translate}}</button>

    <button mat-button *ngIf="annotationSchemaExists" (click)="resetSchema()">{{'Reset Annotation
      Schema'|translate}}</button>
    <button mat-stroked-button *ngIf="annotationSchemaExists"
      (click)="closeWithSameSchema()">{{'Select'|translate}}</button>
  </mat-dialog-actions>
</div>